img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
  background-attachment: fixed;
}

.landing-inner {
  padding-top: 80px;
}

.display-3.mb-3{
  font-size: 50px;
  margin-top: 70px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.textcolor{
  text-color:white;
  text-align: center;
}

.info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}

.info i {
  font-size: 32px;
  color: #2dc997;
  float: left;
}

.list-inline-item a{
  font-size: 22px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.list-inline-item a:hover{
   background: #2dc997;
   color: #fff;
}

.section-header{
  margin-top: 50px;
  margin-bottom: 50px;
}
.box {
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  background: #fafafa;
}

.box img{
  height: 200px;
}

.about{
  width: 700px;
  margin:auto;
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

body {
  min-height: 1200px;
}
nav {
  background: #eaebec;
  min-height: 85px;
}
.center{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.section-box-nine{
   height: 250px;
   background: radial-gradient(#6e6e6e,#2f2f2f);
   background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
   background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
   color: #fff;
   position: relative;
   overflow:hidden;
}
.section-box-nine figure {
   position: absolute;
   text-align: center;
   padding: 19px;
   width: 100%;
   height: 100%;
}
.section-box-nine img{
   height: 100%;
   position: absolute;
   transition: ease-in-out .5s;
   -webkit-transition: ease-in-out .5s;
   -moz-transition: ease-in-out .5s;
}
.section-box-nine:hover img{
   transform: scale(3);
   -webkit-transform: scale(3);
   -moz-transform: scale(3);
   opacity: 0;
}
